body {
  font-family: Arial, sans-serif;
  background-color: #eaf4fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #716305;
}

input[type="date"] {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 12px;
  background-color: #f0d583;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #efdd3529;
}

#output {
  margin-top: 20px;
  font-size: 1.1em;
  color: #2d572c;
}
